<!-- <div class="profile-container">
    <mat-card>
    <mat-card-header>
        <mat-card-title>{{ employees.firstname }} {{ employees.lastname }}</mat-card-title>
        <mat-card-subtitle>Profil utilisateur</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p><strong>Numéro :</strong> {{ employees.num }}</p>
        <p><strong>Prénom :</strong> {{ employees.firstname }}</p>
        <p><strong>Nom :</strong> {{ employees.lastname }}</p>
        <p><strong>Email :</strong> {{ employees.email }}</p>
        <p><strong>Âge :</strong> {{ employees.age }}</p>
    </mat-card-content>
    </mat-card>
</div> -->
